.my-balance__container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    color:white;
    
}

.my-balance__title{
    margin:0;
    font-size:0.7rem;
    color:whitesmoke;
}
.my-balance__value{
    margin:0;
    font-weight:700;
    margin-top:0.5em;
    font-size:1.2rem;
}

@media only screen and (max-width: 375px) {
 
    
    .my-balance__title{
        font-size:1rem;
    }
    .my-balance__value{
   font-size:1.5rem;
    }
    }