.my-balance__container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    color:white;

}

.my-balance__title{
    margin:0;
    font-size:0.6rem;
}
.my-balance__value{
    margin:0;
    font-weight:700;
    margin-top:0.5em;
}

