body {
box-sizing: border-box;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@300;400;500&display=swap');
font-family: 'DM Sans', sans-serif;
--main-color-red:hsl(10, 79%, 65%);
--main-color-cyan: hsl(186, 34%, 60%);
--neutral-color-dark-brown:hsl(25, 47%, 15%);
--neutral-color-medium-brown:hsl(28, 10%, 53%);
--neutral-color-cream:hsl(27, 66%, 92%);
--neutral-color-pale-orange:hsl(33, 100%, 98%);
}



